$reflex-grid-spacing-xs:        4px !default;
$reflex-grid-spacing-sm:        8px !default;
$reflex-grid-spacing-md:        8px !default;
$reflex-grid-spacing-lg:        8px !default;
$reflex-grid-spacing-xlg:       10px !default;

$reflex-container-spacing-xs:        16px !default;
$reflex-container-spacing-sm:        16px !default;
$reflex-container-spacing-md:        16px !default;
$reflex-container-spacing-lg:        24px !default;
$reflex-container-spacing-xlg:       24px !default;